<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/thirdparty/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <script src="static/thirdparty/jquery.min.js"></script>
    <script src="static/thirdparty/jquery.contextify.min.js"></script>
    <script src="static/thirdparty/popper.min.js"></script>
    <script src="static/thirdparty/bootstrap.min.js"></script>
    <script src="static/thirdparty/chart.min.js"></script>
    <script src="static/thirdparty/uniqolor.min.js"></script>
    <script src="static/thirdparty/filesize.min.js"></script>
    <script src="static/index.js"></script>
    <title>wizmem</title>
</head>

<body onload="wizmem.init()">
    <div class="container">
        <div id="splash-screen">
            <div class="splash-screen-icon" style="margin-top: 6%">
                <img src="static/favicon.ico" alt="wizmem icon">
            </div>
            <h3 id="init-status">WizMem Loading</h3>
            <div class="splash-screen-loading-animation">
                <div class="spinner-grow text-muted"></div>
                <div class="spinner-grow text-primary"></div>
                <div class="spinner-grow text-success"></div>
                <div class="spinner-grow text-info"></div>
                <div class="spinner-grow text-warning"></div>
                <div class="spinner-grow text-danger"></div>
                <div class="spinner-grow text-secondary"></div>
                <div class="spinner-grow text-dark"></div>
                <div class="spinner-grow text-light"></div>
            </div>
        </div>
        <div id="web-manager-container" class="wizmem-hide">
            <div id="web-manager-header">
                <h1>
                    <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#shutdown-dialog">关闭WizMem</button>
                </h1>
            </div>
            <div id="process-memory-pie-chart">
                <canvas id="process-memory-pie-chart-canvas"></canvas>
            </div>
            <div id="web-manager-footer">
                <a href="https://gitee.com/phantom27/wizmem">Visit WizMem Gitee Repository</a>
            </div>
        </div>
        <div id="shutdown-screen" class="wizmem-hide">
            <div class="splash-screen-icon" style="margin-top: 8%">
                <img src="static/favicon.ico" alt="wizmem icon">
            </div>
            <h3>WizMem is Already Stopped</h3>
            <button type="button" class="btn btn-outline-dark" onclick="javascript:window.open('','_self').close();">点击关闭页面</button>
        </div>
    </div>

    <!-- 关闭wizmem提示对话框 -->
    <div id="shutdown-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">提示</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3>是否关闭WizMem</h3>
                </div>
                <div class="modal-footer">
                    <button id="confirm-shutdown-btn" type="button" class="btn btn-danger">确定关闭</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 消息提示对话框 -->
    <div id="message-dialog" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">提示</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <h3 id="message-dialog-text"></h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>